In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('glassdoor_safe.csv')

df.head()

,Unnamed: 0,Company Name,Competitors,Founded,Headquarters,Industry,Job Description,Job Title,Location,Rating,Revenue,Salary Estimate,Sector,Size,Type of ownership
0,0,Johns Hopkins Applied Physics Laboratory (APL)...,-1,1942,-1,Aerospace & Defense,Are you passionate about providing real impact...,Data Scientist,"Laurel, MD",4.7,$1 to $2 billion (USD),$100K - $160K (Glassdoor est.),Aerospace & Defense,5001 to 10000 Employees,Nonprofit Organization
1,1,U.S. Customs and Border Protection\n3.7,-1,1927,-1,Federal Agencies,Duties\nSummary\nAs our nation navigates the C...,HR Specialist (Data Scientist) - 1.15.2021,"Washington, DC",3.7,Less than $1 million (USD),$62K - $137K (Glassdoor est.),Government,10000+ Employees,Government
2,2,Austal USA\n3.1,-1,1988,-1,Industrial Manufacturing,Any qualified individual with a disability who...,HCM Data Analyst,"Mobile, AL",3.1,$1 to $2 billion (USD),$55K - $94K (Glassdoor est.),Manufacturing,1001 to 5000 Employees,Company - Public
3,3,United Therapeutics\n3.5,-1,1996,-1,Biotech & Pharmaceuticals,What we do\nAbout United Therapeutics\nUnited ...,Product Development Scientist,"Research Triangle Park, NC",3.5,$1 to $2 billion (USD),$11K - $96K (Glassdoor est.),Biotech & Pharmaceuticals,501 to 1000 Employees,Company - Public
4,4,LGC Limited\n5.0,-1,-1,-1,-1,Position Summary: LGC Biosearch Technologies i...,"Senior Scientist, R&D","Petaluma, CA",5.0,Less than $1 million (USD),-1,-1,Unknown,Company - Public

## TODO
- salary parsing
- company name text only
- age of company?
- parsing of job description

## Salary Parsing

In [3]:
df = df[df['Salary Estimate'] != '-1']

In [4]:
df.shape

(490, 15)

In [5]:
# def get_salary_rang(x):
#     r = x.split()[:3]
#     low = int(''.join(filter(str.isdigit, y[0])))
#     high = int(''.join(filter(str.isdigit, y[2])))
#     return low, high

salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
minus_Kd = salary.apply(lambda x: x.replace('K','').replace('$',''))
min_hr = minus_Kd.apply(lambda x: x.lower().replace('per hour', '').replace('employer provided salary:', ''))
df['min_salary'] = min_hr.apply(lambda x: int(x.split('-')[0]))
# df['min_salary'].dtype
df['max_salary'] = min_hr.apply(lambda x: int(x.split('-')[1]))
# df['max_salary'].dtype

df['avg_salary'] = (df.min_salary + df.max_salary)/2

In [6]:
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['employer provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

In [7]:
df.tail()

,Unnamed: 0,Company Name,Competitors,Founded,Headquarters,Industry,Job Description,Job Title,Location,Rating,Revenue,Salary Estimate,Sector,Size,Type of ownership,min_salary,max_salary,avg_salary,hourly,employer provided
495,495,LexisNexis Risk Solutions\n3.7,-1,2000,-1,Consulting,LexisNexis Risk Solutions\n\nWe develop indust...,Data Scientist,"Woodbury, MN",3.7,$2 to $5 billion (USD),$89K - $143K (Glassdoor est.),Business Services,1001 to 5000 Employees,Company - Public,89,143,116.0,0,0
496,496,Havas Worldwide\n3.4,-1,1999,-1,Advertising & Marketing,Agency :\n\nHavas Edge San Diego\n\nJob Descri...,Data Scientist,"Dallas, TX",3.4,Unknown / Non-Applicable,$67K - $119K (Glassdoor est.),Business Services,10000+ Employees,Subsidiary or Business Segment,67,119,93.0,0,0
497,497,Unilever\n4.1,-1,1872,-1,Consumer Products Manufacturing,Background & Purpose of the Job\n\nUnilever Fo...,Data Scientist,United States,4.1,$10+ billion (USD),$67K - $119K (Glassdoor est.),Manufacturing,10000+ Employees,Company - Public,67,119,93.0,0,0
498,498,Abnormal Security\n4.1,-1,2018,-1,Enterprise Software & Network Solutions,ABNORMAL SECURITY.\n\nAbnormal Security is def...,Data Scientist,"New York, NY",4.1,Unknown / Non-Applicable,$67K - $119K (Glassdoor est.),Information Technology,51 to 200 Employees,Company - Private,67,119,93.0,0,0
499,499,CCRi\n4.5,-1,1989,-1,Aerospace & Defense,"At CCRi, our clients look to us to solve their...",Data Scientist,"Charlottesville, VA",4.5,$10 to $25 million (USD),$67K - $119K (Glassdoor est.),Aerospace & Defense,51 to 200 Employees,Company - Private,67,119,93.0,0,0

## Company Name Txt Only

In [8]:
df['company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating'] < 0 else x['Company Name'][:-4], axis = 1)

## State Only

In [9]:
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[-1])
df .job_state.value_counts()

 CA              111
 VA               44
 NY               37
 MA               34
 MD               25
 TX               21
 WI               16
 IL               15
 PA               15
 DC               14
 WA               13
Remote            12
 NJ               11
 FL               11
United States     10
 MO               10
 NC               10
 NE                9
 IN                8
 GA                7
 UT                7
 MI                6
 OH                6
 CO                4
 TN                4
 ME                4
 CT                4
 AZ                3
 AL                3
 MN                3
 AR                2
 OR                2
 RI                1
 KS                1
 OK                1
California         1
Maryland           1
 KY                1
Massachusetts      1
 ID                1
 DE                1
Name: job_state, dtype: int64

## Age of Company

In [10]:
df['age'] = df.Founded.apply(lambda x: x if x < 1 else 2020 - x)

In [11]:
df.tail(10)

,Unnamed: 0,Company Name,Competitors,Founded,Headquarters,Industry,Job Description,Job Title,Location,Rating,...,Size,Type of ownership,min_salary,max_salary,avg_salary,hourly,employer provided,company_txt,job_state,age
490,490,"TraceLink,Inc.\n3.8",-1,2009,-1,Enterprise Software & Network Solutions,The emerging next-generation pharmaceutical su...,Data Scientist,"North Reading, MA",3.8,...,501 to 1000 Employees,Company - Private,89,143,116.0,0,0,"TraceLink,Inc.",MA,11
491,491,Havas Worldwide\n3.4,-1,1999,-1,Advertising & Marketing,Agency :\n\nHavas Edge San Diego\n\nJob Descri...,Data Scientist,"Dallas, TX",3.4,...,10000+ Employees,Subsidiary or Business Segment,89,143,116.0,0,0,Havas Worldwide,TX,21
492,492,Abnormal Security\n4.1,-1,2018,-1,Enterprise Software & Network Solutions,ABNORMAL SECURITY.\n\nAbnormal Security is def...,Data Scientist,"New York, NY",4.1,...,51 to 200 Employees,Company - Private,89,143,116.0,0,0,Abnormal Security,NY,2
493,493,Unilever\n4.1,-1,1872,-1,Consumer Products Manufacturing,Background & Purpose of the Job\n\nUnilever Fo...,Data Scientist,United States,4.1,...,10000+ Employees,Company - Public,89,143,116.0,0,0,Unilever,United States,148
494,494,CCRi\n4.5,-1,1989,-1,Aerospace & Defense,"At CCRi, our clients look to us to solve their...",Data Scientist,"Charlottesville, VA",4.5,...,51 to 200 Employees,Company - Private,89,143,116.0,0,0,CCRi,VA,31
495,495,LexisNexis Risk Solutions\n3.7,-1,2000,-1,Consulting,LexisNexis Risk Solutions\n\nWe develop indust...,Data Scientist,"Woodbury, MN",3.7,...,1001 to 5000 Employees,Company - Public,89,143,116.0,0,0,LexisNexis Risk Solutions,MN,20
496,496,Havas Worldwide\n3.4,-1,1999,-1,Advertising & Marketing,Agency :\n\nHavas Edge San Diego\n\nJob Descri...,Data Scientist,"Dallas, TX",3.4,...,10000+ Employees,Subsidiary or Business Segment,67,119,93.0,0,0,Havas Worldwide,TX,21
497,497,Unilever\n4.1,-1,1872,-1,Consumer Products Manufacturing,Background & Purpose of the Job\n\nUnilever Fo...,Data Scientist,United States,4.1,...,10000+ Employees,Company - Public,67,119,93.0,0,0,Unilever,United States,148
498,498,Abnormal Security\n4.1,-1,2018,-1,Enterprise Software & Network Solutions,ABNORMAL SECURITY.\n\nAbnormal Security is def...,Data Scientist,"New York, NY",4.1,...,51 to 200 Employees,Company - Private,67,119,93.0,0,0,Abnormal Security,NY,2
499,499,CCRi\n4.5,-1,1989,-1,Aerospace & Defense,"At CCRi, our clients look to us to solve their...",Data Scientist,"Charlottesville, VA",4.5,...,51 to 200 Employees,Company - Private,67,119,93.0,0,0,CCRi,VA,31

## Parsing Job Desc.

In [12]:
# - python
df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df.python_yn.value_counts()

1    291
0    199
Name: python_yn, dtype: int64

In [13]:
# - r studio
df['R_yn'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df.R_yn.value_counts()

0    488
1      2
Name: R_yn, dtype: int64

In [14]:
# - spark
df['spark_yn'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df.spark_yn.value_counts()

0    411
1     79
Name: spark_yn, dtype: int64

In [15]:
# - aws
df['aws_yn'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df.aws_yn.value_counts()

0    388
1    102
Name: aws_yn, dtype: int64

In [16]:
# - excel
df['excel_yn'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df.excel_yn.value_counts()

1    277
0    213
Name: excel_yn, dtype: int64

In [17]:
df.head(10)

,Unnamed: 0,Company Name,Competitors,Founded,Headquarters,Industry,Job Description,Job Title,Location,Rating,...,hourly,employer provided,company_txt,job_state,age,python_yn,R_yn,spark_yn,aws_yn,excel_yn
0,0,Johns Hopkins Applied Physics Laboratory (APL)...,-1,1942,-1,Aerospace & Defense,Are you passionate about providing real impact...,Data Scientist,"Laurel, MD",4.7,...,0,0,Johns Hopkins Applied Physics Laboratory (APL),MD,78,1,0,0,0,1
1,1,U.S. Customs and Border Protection\n3.7,-1,1927,-1,Federal Agencies,Duties\nSummary\nAs our nation navigates the C...,HR Specialist (Data Scientist) - 1.15.2021,"Washington, DC",3.7,...,0,0,U.S. Customs and Border Protection,DC,93,0,0,0,0,0
2,2,Austal USA\n3.1,-1,1988,-1,Industrial Manufacturing,Any qualified individual with a disability who...,HCM Data Analyst,"Mobile, AL",3.1,...,0,0,Austal USA,AL,32,0,0,0,0,1
3,3,United Therapeutics\n3.5,-1,1996,-1,Biotech & Pharmaceuticals,What we do\nAbout United Therapeutics\nUnited ...,Product Development Scientist,"Research Triangle Park, NC",3.5,...,0,0,United Therapeutics,NC,24,0,0,0,0,1
6,6,Leidos\n3.8,-1,1969,-1,Aerospace & Defense,Description\nJob Description:\nThe Defense Gro...,Data Scientist,"Fort Meade, MD",3.8,...,0,0,Leidos,MD,51,0,0,0,1,0
7,7,Plante Moran\n4.0,-1,1924,-1,Accounting,Make your mark. With more than $17.2 billion o...,Operations Data Analyst,"Kalamazoo, MI",4.0,...,0,0,Plante Moran,MI,96,0,0,0,0,1
8,8,Barnes & Noble Education\n3.5,-1,1965,-1,Media & Entertainment Retail Stores,JOB TITLE: Data Analyst - Product Development ...,Data Analyst - Product Development (eCommerce),"Boston, MA",3.5,...,0,0,Barnes & Noble Education,MA,55,0,0,0,0,1
9,9,Uline\n3.7,-1,1980,-1,Wholesale,Supply Chain Data Analyst\nCorporate Headquart...,Supply Chain Data Analyst (South of Milwaukee),"Milwaukee, WI",3.7,...,0,0,Uline,WI,40,0,0,0,0,1
13,13,Johns Hopkins Applied Physics Laboratory (APL)...,-1,1942,-1,Aerospace & Defense,Are you passionate about using data visualizat...,Data Visualization Scientist,"Laurel, MD",4.7,...,0,0,Johns Hopkins Applied Physics Laboratory (APL),MD,78,1,0,0,0,1
15,15,APMEX\n3.6,-1,2000,-1,Other Retail Stores,Business Intelligence Analyst\n\nJob Details\n...,Business Intelligence Analyst,"Oklahoma City, OK",3.6,...,0,0,APMEX,OK,20,1,0,0,0,1

In [18]:
df.columns

Index(['Unnamed: 0', 'Company Name', 'Competitors', 'Founded', 'Headquarters',
       'Industry', 'Job Description', 'Job Title', 'Location', 'Rating',
       'Revenue', 'Salary Estimate', 'Sector', 'Size', 'Type of ownership',
       'min_salary', 'max_salary', 'avg_salary', 'hourly', 'employer provided',
       'company_txt', 'job_state', 'age', 'python_yn', 'R_yn', 'spark_yn',
       'aws_yn', 'excel_yn'],
      dtype='object')

In [23]:
df_out = df.drop(['Unnamed: 0', 'Competitors', 'Headquarters', 'hourly', 'employer provided'], axis = 1)

In [24]:
df_out.to_csv('salary_data_cleaned.csv', index=False)

In [25]:
df_out.head()

,Company Name,Founded,Industry,Job Description,Job Title,Location,Rating,Revenue,Salary Estimate,Sector,...,max_salary,avg_salary,company_txt,job_state,age,python_yn,R_yn,spark_yn,aws_yn,excel_yn
0,Johns Hopkins Applied Physics Laboratory (APL)...,1942,Aerospace & Defense,Are you passionate about providing real impact...,Data Scientist,"Laurel, MD",4.7,$1 to $2 billion (USD),$100K - $160K (Glassdoor est.),Aerospace & Defense,...,160,130.0,Johns Hopkins Applied Physics Laboratory (APL),MD,78,1,0,0,0,1
1,U.S. Customs and Border Protection\n3.7,1927,Federal Agencies,Duties\nSummary\nAs our nation navigates the C...,HR Specialist (Data Scientist) - 1.15.2021,"Washington, DC",3.7,Less than $1 million (USD),$62K - $137K (Glassdoor est.),Government,...,137,99.5,U.S. Customs and Border Protection,DC,93,0,0,0,0,0
2,Austal USA\n3.1,1988,Industrial Manufacturing,Any qualified individual with a disability who...,HCM Data Analyst,"Mobile, AL",3.1,$1 to $2 billion (USD),$55K - $94K (Glassdoor est.),Manufacturing,...,94,74.5,Austal USA,AL,32,0,0,0,0,1
3,United Therapeutics\n3.5,1996,Biotech & Pharmaceuticals,What we do\nAbout United Therapeutics\nUnited ...,Product Development Scientist,"Research Triangle Park, NC",3.5,$1 to $2 billion (USD),$11K - $96K (Glassdoor est.),Biotech & Pharmaceuticals,...,96,53.5,United Therapeutics,NC,24,0,0,0,0,1
6,Leidos\n3.8,1969,Aerospace & Defense,Description\nJob Description:\nThe Defense Gro...,Data Scientist,"Fort Meade, MD",3.8,$10+ billion (USD),$82K - $135K (Glassdoor est.),Aerospace & Defense,...,135,108.5,Leidos,MD,51,0,0,0,1,0